.super-contenedor{
    width: 100%;
    height: 38vw;
    display: flex;
    align-items: center;
    gap: 60px;
}

.contenedor-informacion{
    width: 28vw;
    height: 32vw;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-cont-info{
    background-color: rgb(43, 226, 159);
    width: 24vw;
    height: 29vw;
}

.segundo-contenedor{
    width: 60vw;
    height: 32vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-cont-segundo {
    width: 58vw;
    height: 30vw;
    padding: 50px;
    background-color: rgb(210, 214, 213);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */ /* Establece un borde */
}


.parrafo-empresa{
    font-size: 20px;
    text-align: center;
}

.titulo-info-empresa{
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}