@import url("https://fonts.googleapis.com/css2?family=Phudu&family=Sedgwick+Ave+Display&family=Ubuntu+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #9DB4C0;
  font-family: "Ubuntu Condensed", sans-serif;
  
}

/* Aqui termina todo el estilo del header */

.crearOferta {
  width: 55%;
  height: 1450px;
  background-color: rgba(255, 255, 255, 0);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 23vw;
}

.tituloOferta {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  color: #000;
}

span {
  color: white;
}

/* Aqui empieza el estilo del formulario */

form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0.2, 0.4);
  width: 1000px;
  margin-top: 70px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

.crear-oferta-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.crear-oferta-button:hover {
  background-color: #0056b3;
}

/* empieza el codigo responsive */

@media screen and (max-width: 600px) {
  /* responsive del header  */

  header {
    width: 100%;
    height: 25vw;
  }

  .interior {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 25vw;
  }

  .logo img {
    position: relative;
    margin-left: 0;
    margin-top: 5px;
    left: 36vw;
  }

  .navegacion {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding: 10px 0;
    top: 70vw;
    right: 44vw;
  }

  .menu {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    width: 59vw;
    height: 76vw;
    background-color: #5C6B73;
    position: relative;
    bottom: 14.2vw;
    display: none;
    bottom: 19.4vw;
    left: 6.7vw;
  }

  .sobreNosotros {
    position: relative;
    left: 10vw;
  }

  .terminos {
    position: relative;
    left: 3vw;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu li a {
    padding-bottom: 8px;
  }

  .sub-Menu {
    position: absolute;
    left: 46vw;
    min-width: 54vw;
    background-color: #5C6B73;
    z-index: 2;
  }

  .menu:hover .sub-Menu {
    display: none;
  }

  .sub-Menu li a {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
  }

  .Busqueda {
    height: auto;
  }

  .search {
    width: 80%;
    margin-top: 20px;
  }

  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    right: 2vw;
  }

  .Login a {
    padding: 5px 10px 5px 10px;
  }

  .interior label {
    display: initial;
    position: relative;
    right: 18vw;
  }

  #icon-menu:checked ~ .navegacion .menu {
    display: initial;
  }
}

/* termina el responsive del header  */