@import url("https://fonts.googleapis.com/css2?family=Phudu&family=Sedgwick+Ave+Display&family=Ubuntu+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #9DB4C0;
  font-family: "Ubuntu Condensed", sans-serif;
}

/* Aqui empieza todo el estilo del header */

header {
  width: 100%;
  background-color: #5C6B73;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.interior {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 90px;
  width: 110px;
  margin-left: 20px;
  transition: transform 0.3s;
  min-width: 100px;
}

.logo img:hover {
  transform: scale(1.1);
}

.navegacion {
  display: flex;
  font-size: 18px;
  width: 800px;
  height: 75%;
  position: relative;
  align-items: center;
  margin: 0 auto;
  right: 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 60px;
}

.sobreNosotros {
  width: 100%;
}

.terminos {
  width: 100%;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  min-width: 300px;
}


.menu li:hover .sub-Menu {
  display: block;
}

.sub-Menu li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}


/* ............................................. */

ul .sub-Menu-candidate{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-candidate a{
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-candidate a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-candidate li:hover .sub-Menu-candidate {
  display: block;
}

.contenedor-candidate{
  background-color: red;
  width: 0;
}

.sub-Menu-candidate {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  width: 280px;
  right: 20%;
  top: 10vh;
  height: 13vw;
}
.sub-Menu-candidate li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-candidate li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}

/******************************************/

ul .sub-Menu-admin{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-admin a{
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-admin a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-admin li:hover .sub-Menu-admin {
  display: block;
}

.contenedor-admin{
  background-color: red;
  width: 0;
}

.sub-Menu-admin {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  width: 280px;
  right: 20%;
  top: 12vh;
  height: 15vw;
}
.sub-Menu-admin li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-admin li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}
/* .sub-Menu-candidate li {
  width: 10%;
}

.sub-Menu-candidate{
  width: 10%;
}

.sub-Menu-candidate a{
  width: 20%;
} */

/******************************************/

ul .sub-Menu-selector{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-selector a{
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-selector a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-selector li:hover .sub-Menu-selector {
  display: block;
}

.contenedor-selector{
  background-color: red;
  width: 0;
}

.sub-Menu-selector {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  width: 280px;
  right: 20%;
  top: 10vh;
  height: 10vw;
}
.sub-Menu-selector li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-selector li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}

/* ............................ */

ul .sub-Menu-company{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-company a{
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-company a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-company li:hover .sub-Menu-company {
  display: block;
}

.contenedor-company{
  background-color: red;
  width: 0;
}

.sub-Menu-company {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  width: 280px;
  right: 20%;
  top: 10vh;
  height: 11vw;
}
.sub-Menu-company li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-company li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}

/* ................................... */

ul .sub-Menu-recruiter{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-recruiter a{
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-recruiter a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-recruiter li:hover .sub-Menu-recruiter {
  display: block;
}

.contenedor-recruiter{
  background-color: red;
  width: 0;
}

.sub-Menu-recruiter {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  width: 270px;
  right: 20%;
  top: 9.7vh;
  height: 9vw;
}
.sub-Menu-recruiter li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-recruiter li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}

.Login {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 20px;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: -10px;
  min-width: 100px;
}

.Login a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.Login a:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

#icon-menu {
  display: none;
}

.menu-icono {
  width: 30px;
}


.interior label {
  cursor: pointer;
  display: none;
}

/* Contenedor principal */
#barra-superior {
  width: 20%;
  background-color: #9DB4C0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

/* Estilos para el mensaje de bienvenida y menú de usuario */
.mensaje-bienvenida {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.menu-usuario {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menu-usuario li a {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
}

.sub-menu-usuario {
  list-style: none;
  display: none;
  background-color: #5C6B73;
  min-width: 300px;
}

.menu-usuario li:hover .sub-menu-usuario {
  display: block;
}

.sub-menu-usuario li a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 15px 15px 20px;
  display: block;
}

.form-logout button {
  background-color: #5C6B73;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.form-logout button:hover {
  background-color: #9DB4C0;
}

/* Estilos para la lista de inicio de sesión/registro */
.login {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 20px;
  padding: 10px;
}

.login a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.login a:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}
/* Aqui termina todo el estilo del header */

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 130px;
  min-width: 300px;
}

span {
  color: lightsteelblue;
}

.Busqueda {
  width: 100%;
  height: 500%;
  min-width: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search {
  width: 50%;
  height: 80%;
  min-width: 300px;
  margin: 20px auto;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 75px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.search input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 18px;
  color: black;
}

::placeholder {
  color: black;
}

.search button img {
  width: 40%;
  min-width: 30px;
}

.search button {
  border: 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #5C6B73;
  cursor: pointer;
}

.barra {
  width: 100%;
  height: 9%;
  min-width: 300px;
  position: fixed;
  transition: -4s all;
  z-index: 1;
}

/* Aqui empieza todo el estilo del footer */

footer {
  width: 100vw;
  height: 25vh;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5C6B73;
  border: 2px solid rgb(105, 105, 105);
  margin-top: 10%;

}

.redes-sociales,
.menu-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.icono-redesSociales {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid black;
  background-image: url(../img/Facebook.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 2rem;
}

.icono-redesSociales:hover {
  background-color: white;
  filter: invert(1);
}

.icono-redesSociales:nth-of-type(2) {
  background-image: url(../img/Instragram.png);
}

.icono-redesSociales:nth-of-type(3) {
  background-image: url(../img/GitHub.png);
}

.icono-redesSociales:nth-of-type(4) {
  background-image: url(../img/Email.png);
}

.menu-contenedor {
  list-style-type: none;
  color: white;
  font-size: 18px;
}

.menu-item {
  margin: 1rem 1.5rem;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  color: white;
  opacity: 0.3;
  text-align: center;
}

/* Aqui termina todo el estilo del footer */

/* empieza el codigo responsive */

@media screen and (max-width: 600px) {
  /* responsive del header  */

  header {
    width: 100%;
    height: 25vw;
  }

  .interior {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 25vw;
  }

  .logo img {
    position: relative;
    margin-left: 0;
    margin-top: 5px;
    left: 36vw;
  }

  .navegacion {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding: 10px 0;
    top: 70vw;
    right: 44vw;
  }

  .menu {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    background-color: #5C6B73;
    position: relative;
    bottom: 14.2vw;
    display: none;
    z-index: 1;
  }

  .sobreNosotros {
    position: relative;
    right: 16vw;
  }

  .terminos {
    position: relative;
    right: 30vw;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu li a {
    padding-bottom: 8px;
  }

  .sub-Menu {
    position: absolute;
    left: 51.6vw;
    min-width: 54vw;
    background-color: #5C6B73;
    z-index: 2;
  }

  .menu:hover .sub-Menu {
    display: none;
  }

  .sub-Menu li a {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
  }

  .Busqueda {
    height: auto;
  }

  .search {
    width: 80%;
    margin-top: 20px;
  }

  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    right: 2vw;
  }

  .Login a {
    padding: 5px 10px 5px 10px;
  }

  .interior label {
    display: initial;
    position: relative;
    right: 18vw;
  }

  #icon-menu:checked ~ .navegacion .menu {
    display: initial;
  }

  /* termina el responsive del header  */

  /* incia el responsive de la seccion busqueda  */

  .Busqueda {
    background-color: #ffffff00;
    height: 65vw;
  }

  .search {
    height: 16vw;
    margin: 0;
    position: relative;
    top: 22vw;
  }

  h1 {
    margin: 0;
    position: relative;
    top: 14.2vw;
  }

  .search button {
    border: 0;
    border-radius: 50%;
    width: 70px;
    height: 45px;
    background-color: #5C6B73;
    cursor: pointer;
    position: relative;
    right: 20px;
  }

  .search button img {
    width: 32px;
    margin: 5px;
  }

  /* termina el responsive de la seccion busqueda  */
}